# macOS
.DS_Store
.localized
.Trashes
.fseventsd/

# Dependencies
node_modules/
Pods/
vendor/
Carthage/

# IDEs
.idea/
.vscode/
*.xcworkspace/
xcuserdata/

# Sensitive stuff
gemini_persistent_history/
claude_persistent_history/
.claude/settings.local.json
.claude/


# Environment
.env
start_colima_container.sh
update_ai.sh

# Logs and temporary files
*.log
tmp/
temp/
evaluation/*.jsonl

# Font files
*.ttf
*.otf

# Training Data
data/raw_text/
output/
output.nosync
data/corpus_text
data/


# Build artifacts
build/
dist/
__pycache__
tests/__pycache__
/src/__pycache__
/test_output
/tests/__pycache__
src/__pycache__
*.pyc
/logs
/data.nosync
